.home-container {
  max-width: 720px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:  0px auto;
}

.home-container h2 {
line-height: inherit;
font-weight: 600;
}

.home-container h3 {
  margin: 10px;
  font-weight: 500;
}

.btn-group {
  display: flex;
}

.btn-group a {
  position: relative;
  font-family: inherit;
  line-height: inherit;
  font-weight: 700;
  cursor: pointer;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  outline: none;
  border: 1px solid transparent;
  margin: 20px;
  box-shadow: rgb(0 0 0 / 10%) 0px 3px 12px 0px;
  padding: 20px 30px;
  background-color: rgb(75, 185, 183);
  color: rgb(1, 4, 4);
  border-radius: 4px;
  text-decoration: none;
}